@model ConfirmDialogModel

<div class="modal fade" id="@Model.DialogId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@(Model.Title ?? "Confirmation")</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* <p>Do you want to delete <b class="title"></b> product?</p> *@
                <p>@(Model.Message ?? "Do you want to perform the action?")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a class="actionBtn btn btn-@Model.Mode.ToString()">Yes</a>
            </div>
        </div>
    </div>
</div>
