@model List<Product>
<h2>Cart</h2>

<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Products in Your Cart</h5>
        <ol class="list-group list-group-numbered">
            @foreach (var i in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@i.Title</div>
                        @* @i.Category?.Name - Stock: @i.Quantity *@
                    </div>
                    <div>
                        <span class="badge text-bg-primary rounded-pill">@i.Price$</span>
                        <a href="#" class="text-danger">
                            <i class="bi bi-x-square"></i>
                        </a>
                    </div>
                </li>
            }
        </ol>

        <div class="mt-3">
            <a class="btn btn-success">Confirm</a>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continue Shopping</a>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        Items count: 0
    </div>
</div>